In [14]:
import pandas as pd
from sqlalchemy import create_engine

In [15]:
pete_df = pd.read_csv('https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3.us-gov-west-1.amazonaws.com/702842ba899978973df265170c24e0a0adbb05c0d1af4f124fb22515.csv?response-content-disposition=filename%3Dschedule_a-2019-08-10T15%3A23%3A18.csv&AWSAccessKeyId=AKIAR7FXZINYHRDA5FXF&Signature=xySHwln%2BnHlSyKrVzR9FEL5rFDg%3D&Expires=1566073399')

In [16]:
pete_df.head()

,committee_id,committee_name,report_year,report_type,image_number,line_number,transaction_id,file_number,committee_name.1,entity_type,...,filing_form,link_id,is_individual,memo_text,two_year_transaction_period,schedule_type,increased_limit,sub_id,pdf_url,line_number_label
0,C00697441,"PETE FOR AMERICA, INC.",2019,Q2,201907159151242990,17A,1083238,1341083,NaN,IND,...,F3P,4071620191659583353,t,NaN,2020,SA,NaN,4072320191660948261,http://docquery.fec.gov/cgi-bin/fecimg/?201907...,Contributions From Individuals/Persons Other T...
1,C00697441,"PETE FOR AMERICA, INC.",2019,Q2,201907159151242990,17A,1041164,1341083,NaN,IND,...,F3P,4071620191659583353,t,* EARMARKED CONTRIBUTION: SEE BELOW,2020,SA,NaN,4072320191660948262,http://docquery.fec.gov/cgi-bin/fecimg/?201907...,Contributions From Individuals/Persons Other T...
2,C00697441,"PETE FOR AMERICA, INC.",2019,Q2,201907159151242991,17A,761029,1341083,NaN,IND,...,F3P,4071620191659583353,t,* EARMARKED CONTRIBUTION: SEE BELOW,2020,SA,NaN,4072320191660948264,http://docquery.fec.gov/cgi-bin/fecimg/?201907...,Contributions From Individuals/Persons Other T...
3,C00697441,"PETE FOR AMERICA, INC.",2019,Q2,201907159151242992,17A,960782,1341083,NaN,IND,...,F3P,4071620191659583353,t,* EARMARKED CONTRIBUTION: SEE BELOW,2020,SA,NaN,4072320191660948266,http://docquery.fec.gov/cgi-bin/fecimg/?201907...,Contributions From Individuals/Persons Other T...
4,C00697441,"PETE FOR AMERICA, INC.",2019,Q2,201907159151242992,17A,781430,1341083,NaN,IND,...,F3P,4071620191659583353,t,* EARMARKED CONTRIBUTION: SEE BELOW,2020,SA,NaN,4072320191660948268,http://docquery.fec.gov/cgi-bin/fecimg/?201907...,Contributions From Individuals/Persons Other T...

In [17]:
pete_df = pete_df[['committee_name','contributor_zip','contribution_receipt_amount']]

pete_df.head()

           committee_name  contributor_zip  contribution_receipt_amount
0  PETE FOR AMERICA, INC.      168016602.0                        22.27
1  PETE FOR AMERICA, INC.      168016602.0                         3.00
2  PETE FOR AMERICA, INC.      200091804.0                       100.00
3  PETE FOR AMERICA, INC.      200091804.0                       100.00
4  PETE FOR AMERICA, INC.      980335556.0                        10.00

### Clean Data

In [18]:
pete_df['contributor_zip'] = pete_df['contributor_zip'].astype(str)

pete_df['new_zip'] = pete_df['contributor_zip'].str[0:5]

pete_df = pete_df[['committee_name', 'new_zip', 'contribution_receipt_amount']]
pete_df = pete_df.rename(columns = {'new_zip':'zip code'})
pete_df.head()

           committee_name zip code  contribution_receipt_amount
0  PETE FOR AMERICA, INC.    16801                        22.27
1  PETE FOR AMERICA, INC.    16801                         3.00
2  PETE FOR AMERICA, INC.    20009                       100.00
3  PETE FOR AMERICA, INC.    20009                       100.00
4  PETE FOR AMERICA, INC.    98033                        10.00

In [19]:
pete_df = pete_df.dropna()

In [20]:
pete_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50285 entries, 0 to 50284
Data columns (total 3 columns):
committee_name                 50285 non-null object
zip code                       50285 non-null object
contribution_receipt_amount    50285 non-null float64
dtypes: float64(1), object(2)
memory usage: 1.5+ MB

In [21]:
pete_df = pete_df[pete_df['zip code'] != '0.0']

In [22]:
pete_df.head()

           committee_name zip code  contribution_receipt_amount
0  PETE FOR AMERICA, INC.    16801                        22.27
1  PETE FOR AMERICA, INC.    16801                         3.00
2  PETE FOR AMERICA, INC.    20009                       100.00
3  PETE FOR AMERICA, INC.    20009                       100.00
4  PETE FOR AMERICA, INC.    98033                        10.00

In [23]:
pete_df.columns = ['Candidate', 'Zip Code', 'Donation']
pete_df.head()

                Candidate Zip Code  Donation
0  PETE FOR AMERICA, INC.    16801     22.27
1  PETE FOR AMERICA, INC.    16801      3.00
2  PETE FOR AMERICA, INC.    20009    100.00
3  PETE FOR AMERICA, INC.    20009    100.00
4  PETE FOR AMERICA, INC.    98033     10.00